[
    {
        "urls": [
            "google.com:443",
            "work.containergraphics.com:443",
            "wrong.host.badssl.com:443",
            "self-signed.badssl.com:443",
            "untrusted-root.badssl.com:443",
            "revoked.badssl.com:443",
            "pinning-test.badssl.com:443",
            "no-common-name.badssl.com:443",
            "no-subject.badssl.com:443",
            "incomplete-chain.badssl.com:443",
            "sha1-intermediate.badssl.com:443",
            "sha256.badssl.com:443",
            "sha384.badssl.com:443",
            "sha512.badssl.com:443",
            "1000-sans.badssl.com:443",
            "10000-sans.badssl.com:443",
            "ecc256.badssl.com:443",
            "ecc384.badssl.com:443",
            "rsa2048.badssl.com:443",
            "rsa8192.badssl.com:443"
        ],
        "MMurl": "",
        "MMkey": "",
        "ExpireThreshhold": 700
    }
]
